.modal-body {
    margin: auto;
    padding: 10px 20px;
    width: 20%;
    border-radius: 8px;
    background-color: #f2f3f7;
}

.modal-title {
    text-align: center;
}

.cancel-button {
    float: right;
    background: red;
}