<ng-container *ngIf="allAuthors">
    <div class="input-container" (click)="setFocusOnInput()">
        <div *ngFor="let authorId of selectedAuthors" class="author-item">
            <span>
                {{getAuthorById(authorId).firstName}} {{getAuthorById(authorId).lastName}}
            </span>
            <span class="remove-icon" (click)="removeAuthor(authorId)">
                <fa-icon [icon]="['far', 'minus-square']"></fa-icon>
            </span>
        </div>
        <div class="filter-input-container">
            <input type="text"
                class="filter-input"
                [(ngModel)]="filter" 
                (keydown.enter)="addFirstSuitable($event)"
                (keydown.backspace)="removeLastSelected()"
                (focusout)="onTouched()"
            />
            <ul *ngIf="suitableAuthors && suitableAuthors.length > 0" class="authors-list shadow">
                <li *ngFor="let author of suitableAuthors" (click)="selectAuthor(author)">
                    <span>
                        {{author.firstName}} {{author.lastName}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
</ng-container>
