.input-container {
    width: 100%;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
}

.author-item {
    display: inline-block;
    padding: 12px;
    border: 1px solid black;
    margin: 0 8px;
}

.remove-icon {
    cursor: pointer;
}

.authors-list {
    padding-left: 5px;
    margin: 0;
}

.authors-list li {
    display: block;
    padding: 5px 0;
    background-color: gainsboro;
    cursor: pointer;
}

.authors-list li:hover {
    background-color: gray;
}

.hidden {
    display: none;
}
