<div [ngClass]="courseItemClass" [appCourseFreshness]="course.creationDate">
        <div class="course-info-container">
                <div>
                        <h2 class="title">{{course?.title | uppercase}} <fa-icon [icon]="['fas', 'star']" [ngClass]="starClass"></fa-icon></h2>
                        <div class="date-duration-container">
                                <span class="duration">
                                        <fa-icon [icon]="['far', 'clock']"></fa-icon>
                                        {{course?.duration | courseDuration}}
                                </span>
                                <span class="date">
                                        <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
                                        {{course?.creationDate | date: 'd MMM, y'}}
                                </span>
                        </div>
                </div>
                <p class="description">{{course?.description}}</p>
        </div>
        <div class="buttons-container">
                        <button class="button">
                                <fa-icon [icon]="['fas', 'pen']"></fa-icon> Edit
                        </button>
                        <button class="button delete-button" (click)="delete.emit(course.id)">
                                <fa-icon [icon]="['fas', 'trash']"></fa-icon> Delete
                        </button>
        </div>
</div>


