<form class="form-container padding-default-left padding-default-right" [formGroup]="courseForm" (ngSubmit)="saveCourse()">
    <div class="form-group">
        <div>
            <label>{{"PAGES.COURSE_FORM_PAGE.LBL_TITLE" | translate}}:</label>
            <label *ngIf="title.invalid && (title.dirty || title.touched)" class="form-error">
                <ng-container *ngIf="title.errors.required">
                    {{"PAGES.COURSE_FORM_PAGE.ERR_TITLE_REQUIRED" | translate}}
                </ng-container>
                <ng-container *ngIf="title.errors.maxlength">
                    {{"PAGES.COURSE_FORM_PAGE.ERR_TITLE_MAXLENGTH" | translate}}
                </ng-container>
            </label>
        </div>
        <input class="form-input" type="text" formControlName="title"/>	
    </div>
    <div class="form-group">
        <div>
            <label>{{"PAGES.COURSE_FORM_PAGE.LBL_DESCRIPTION" | translate}}:</label>
            <label *ngIf="description.invalid && (description.dirty || description.touched)" class="form-error">
                <ng-container *ngIf="description.errors.maxlength">
                    {{"PAGES.COURSE_FORM_PAGE.ERR_DESCRIPTION_MAXLENGTH" | translate}}
                </ng-container>
                <ng-container *ngIf="description.errors.required">
                    {{"PAGES.COURSE_FORM_PAGE.ERR_DESCRIPTION_REQUIRED" | translate}}
                </ng-container>
            </label>
        </div>
        <textarea formControlName="description"></textarea>
    </div>
    <div class="form-group">
        <div>
            <label>{{"PAGES.COURSE_FORM_PAGE.LBL_DATE" | translate}}:</label>
            <label *ngIf="creationDate.invalid" class="form-error"> 
                <ng-container *ngIf="creationDate.errors.required">
                    {{"PAGES.COURSE_FORM_PAGE.ERR_DATE_REQUIRED" | translate}}
                </ng-container>
                <ng-container *ngIf="creationDate.errors.invalidDate">
                    {{"PAGES.COURSE_FORM_PAGE.ERR_DATE_INVALID" | translate}}
                </ng-container>
            </label>
        </div>
        <app-course-date-input formControlName="creationDate"></app-course-date-input>
    </div>
    <div class="form-group">
        <div>
            <label>{{"PAGES.COURSE_FORM_PAGE.LBL_DURATION" | translate}}:</label>
            <label *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="form-error">
                <ng-container *ngIf="duration.errors.required">
                    {{"PAGES.COURSE_FORM_PAGE.ERR_DURATION_REQUIRED" | translate}}
                </ng-container>
                <ng-container *ngIf="duration.errors.invalidDuration">
                    {{"PAGES.COURSE_FORM_PAGE.ERR_DURATION_INVALID" | translate}}
                </ng-container>
            </label>
        </div>
        <app-course-duration-input formControlName="duration"></app-course-duration-input>
    </div>
    <div class="form-group form-group-last">
        <div>
            <label>{{"PAGES.COURSE_FORM_PAGE.LBL_AUTHORS" | translate}}:</label>
            <label *ngIf="authors.invalid && (authors.dirty || authors.touched)" class="form-error"> 
                <ng-container *ngIf="authors.errors.minAuthors">
                    {{"PAGES.COURSE_FORM_PAGE.ERR_AUTHORS_MINAUTHORS" | translate}}
                </ng-container>
            </label>
        </div>
        <app-course-authors-input formControlName="authors"></app-course-authors-input>
    </div>
    <div>
        <button type="submit" class="button save-button" [disabled]="!courseForm.valid">
            {{"PAGES.COURSE_FORM_PAGE.BTN_SAVE" | translate}}
        </button>
        <button class="button cancel-button" routerLink="/courses">{{"PAGES.COURSE_FORM_PAGE.BTN_CANCEL" | translate}}</button>
        <label class="form-error" *ngIf="courseErrorMessage | async">{{courseErrorMessage | async}}</label>
        <label class="form-error" *ngIf="authorErrorMessage | async">{{authorErrorMessage | async}}</label>
    </div>
</form>
