<form class="form-container padding-default-left padding-default-right" [formGroup]="courseForm" (ngSubmit)="saveCourse()">
    <div class="form-group">
        <div>
            <label>Title:</label>
            <label *ngIf="title.invalid && (title.dirty || title.touched)" class="form-error">
                <ng-container *ngIf="title.errors.required">
                    Title is required!
                </ng-container>
                <ng-container *ngIf="title.errors.maxlength">
                    Title is too long!
                </ng-container>
            </label>
        </div>
        <input class="form-input" type="text" formControlName="title"/>	
    </div>
    <div class="form-group">
        <div>
            <label>Description:</label>
            <label *ngIf="description.invalid" class="form-error">
                <ng-container *ngIf="description.errors.maxlength">
                    Description is too long!
                </ng-container>
            </label>
        </div>
        <textarea formControlName="description"></textarea>
    </div>
    <div class="form-group">
        <div>
            <label>Date:</label>
            <label *ngIf="creationDate.invalid" class="form-error"> 
                <ng-container *ngIf="creationDate.errors.invalidDate">
                    Date is invalid! Please, provide date in format DayOfMonth.Month.Year (e.g. 25.08.2005)
                </ng-container>
            </label>
        </div>
        <app-course-date-input formControlName="creationDate"></app-course-date-input>
    </div>
    <div class="form-group">
        <div>
            <label>Duration:</label>
            <label *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="form-error">
                <ng-container *ngIf="duration.errors.required">
                    Duration is required!
                </ng-container>
                <ng-container *ngIf="duration.errors.invalidDuration">
                    Please, provide a valid integer number for duration!
                </ng-container>
            </label>
        </div>
        <app-course-duration-input formControlName="duration"></app-course-duration-input>
    </div>
    <div class="form-group form-group-last">
        <div>
            <label>Authors:</label>
            <label *ngIf="authors.invalid && (authors.dirty || authors.touched)" class="form-error"> 
                <ng-container *ngIf="authors.errors.minAuthors">
                    Please, select at least 1 author!
                </ng-container>
            </label>
        </div>
        <app-course-authors-input formControlName="authors"></app-course-authors-input>
    </div>
    <div>
        <button type="submit" class="button save-button" [disabled]="!courseForm.valid">Save</button>
        <button class="button cancel-button" routerLink="/courses">Cancel</button>
    </div>
</form>
