<form class="form-container padding-default-left padding-default-right" [formGroup]="courseForm" (ngSubmit)="saveCourse()">
    <div class="form-group">
        <div><label>Title:</label></div>
        <input class="form-input" type="text" formControlName="title"/>	
    </div>
    <div class="form-group">
        <div><label>Description:</label></div>
        <textarea formControlName="description"></textarea>
    </div>
    <div *ngIf="creationDate.invalid"> 
        <div *ngIf="creationDate.errors.invalidDate">
            Date is invalid! Provide date in format DD.MM.YYYY
        </div>
    </div>
    <div class="form-group">
        <div><label>Date:</label></div>
        <app-course-date-input formControlName="creationDate"></app-course-date-input>
    </div>
    <div *ngIf="duration.invalid"> 
        <div *ngIf="duration.errors.invalidDuration">
            Please, provide a valid integer number for duration!
        </div>
    </div>
    <div class="form-group">
        <div><label>Duration:</label></div>
        <app-course-duration-input formControlName="duration"></app-course-duration-input>
    </div>
    <div class="form-group form-group-last">
        <div><label>Authors:</label></div>
        <app-course-authors-input formControlName="authors"></app-course-authors-input>
    </div>
    <div>
        <button type="submit" class="button save-button" [disabled]="!courseForm.valid">Save</button>
        <button class="button cancel-button" routerLink="/courses">Cancel</button>
    </div>
</form>
