<div class="header header-footer-background padding-default-left">
    <app-logo></app-logo>
    <div class="header-right"> 
        <ng-container
            *ngIf="isAuthenticated() | async; then loggedIn; else loggedOut">
        </ng-container>
        <ng-template #loggedIn>
            <a (click)="logout()" class="logout-button"><fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon> Log off</a>
        </ng-template>
        <ng-template #loggedOut>
            <a routerLink="/login"><fa-icon [icon]="['fas', 'user']"></fa-icon> User login</a>
        </ng-template>
    </div>
</div>
