<div *ngFor="let course of (courses | async)">
    <app-course-item [course]="course"
                     (delete)="delete($event)"></app-course-item>      
</div>
<ng-container *ngIf="!(isEmpty | async); then loadMoreButton; else noItems"></ng-container>
<ng-template #loadMoreButton>
    <div class="shadow" *ngIf="canLoadMore | async">
        <a class="load-more-button" (click)="loadMore()">Load more</a>
    </div>
</ng-template>
<ng-template #noItems>
    <h2 class="no-items-title">There are no courses to display!</h2>
</ng-template>
<app-course-delete-modal id="course-delete-modal"></app-course-delete-modal>
