.login-form-container {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #f2f3f7;
    display: flex;
    align-items: center;
    justify-content: center
}

.login-form {
    border-radius: 5px;
    padding: 25px;
    background-color: white;
    display: inline-block;
}

.login-form-title {
    margin: 0;
}

.form-group {
    margin-top: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-group > input {
    width: 350px;
    height: 40px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid lightgray;
    margin-top: 8px;
}

.input-description {
    float: right;
    color: lightgray;
}

.login-button {
    float: right;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    padding: 10px 15px;
}

.forgot-password {
    line-height: 32px;
    padding-left: 20px;
}
