* {
    color: white;
}

.header {
    overflow: hidden;
    background-color: #2d3138;
    padding: 10px 20px;
}

.header-right {
    float: right;
}

.header a {
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 10px;
}