/* You can add global styles to this file, and also import other style files */
.clearfix {
    overflow: auto;
}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0;
}

.button {
    height: 30px;
    background-color: lightskyblue;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: white;
}